{% extends "course/base.html" %}
{% block body %}
<table class="table">
  <thead>
    <tr>
      <th>강좌명</th>
      <th>강사명</th>
      <th>수강인원</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for c in courses %}
    <tr>
      <td>{{ c.name }}</td>
      <td>{{ c.tutor.name }}</td>
      <td>{{ c.students|length }}</td>
      <td>
        <form action="/admin/courses/{{ c._id }}/?__method__=delete" method="POST">
          {% csrf-field %}
          <button class="btn alert-danger" >삭제</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<a class="nav pull-right" href="/admin/courses/new/">추가</a>
{% endblock %}
